<!DOCTYPE html>
<html lang="en">

<!--
                Hey Code Peeker....
                            _
                         .-" `.
                         ;:":  ""--..
                .-+. ,gpd$L\:._      ""-._
               /  //;$SS$$$$SS$$t--.      "-._
             .'  `.//SS$P^"""TS$$S. "-.       "-,
           .'    _ "-S^"      TS$$Sb   "-.       `.
         .'    .':S$Y      _.. SS$$Sb-'   "-.      ;
       .'    .'  SS$;,=-.  ._.`:S$$SS;       j     ;
     .'    .'   :SS$$.-'        SS$$SS\     /     /
   .'     /     SS$$S;    -     SS$$SS ;   /     /
 .'      /   ._dSS$$SS   .--.  :SS$$$S\;  /     /
/       /     :SS$$SS$b. `--'  $$SS$$S ) /     /
\      :      ;SS$$SS$$SS.___.'$$SS$$Sb /     /
 \      "-.   SS$$SS$$$SS      $$SS$$SS';    /
  `.       "-dSS$$SS$$SS:;     :$$SSSP      /
    `.              "^S^':     '^TSS'      /
      "-.      `.     ::-.   _ .-"\\      /
         "-.  -._\    ;;           \\  : :
            "-.   \  ::             \\ ; ;
               $.  `.;;       ,      \\;:
              dS$\  / '-._    :  _.-"" \;
           `-:S$^$t'      ""--:""       ;
              TP :$$ ;        ::        :
                d$S$_:        ;-\       ;
               :$SS$; `.____.'   `.___.j
               $$SS$$                  ;
              / T$S$$;  ;      ;    ; :
             :   `TS$$  :      :    : ;
                   `T$         :     :
                     ;         ;     ;
                    /                ;
                  .'                 :
                 /      :           ;:
                /       ;     c     ::
               :`.      ;           : ;
               ;  "-.   :           ; :
              :_     "-.            .' ;
              ; "-.     ""--..__..-"   :
             :     `.                _.-;
             ;       `.           .-"   ;
             ;         `.       .'      ;
             ;           \     /        :
             ;            \   /         :
             ;             \_/          :
             ;             ::           :
             ;             :;           ;
             :             :;           ;
              ;            ;;          :
              |            ;;          |
              :           : ;          ;
               ;          : ;         :
               :          ; :         |
                ;         ; :         ;
                :         ; :        :
                 ;        ; :        |
                 :        ; :        ;
                  ;       : :       :
                  : ;   : :  ;  ;   |
                   ;:   ; ;  :  :   :
                   : \    ;   \      "-.
                   :      ;    \        \
                   ;      :     \      .d$b
                  db.___.d$b     \__.g$$$$$b
                  $$$$$$$$$$     :$$$$$$$$$$b
                  $$$$$$$$$$      T$$$$$$$$$$;
                  :$$$$$$$$$       T$$$$$$$$$$
                   $$$$$$$$$        `T$$$$$$$$b
                   $$$$$$$$;          T$$$$$$$$;
                   :$$$$$$$            T$$$$$$$$
                   :$$$$$$$             T$$$$$$$;
                    $$$$$$$              T$$$$$$$
                    $$$$$$$               T$$$$$$;
                    $$$$$$$                T$$$$$$
                    :$$$$$;                 T$$$$$b
                    :$$$$$;                  T$$$S$b.
                    :$$$$S;                   SSS$$$$bp.
                    :$$$$S;                   :S$$$$$S$$;
                    $S$$SS;                    S$$$$$$SP
                   :$SSSSS;                    :$$$$$$S
                   $$$$$$$;                     $$$$$$$
                   $$$$$$$$                     :$$SS$$
                   $$$$$$$$                      SSS$$$
                   $$$$$$$$                      :$$$$;
                   :$$$$SS;                       `^^'
                    TSSSSP
                     `^^'

-->

<head>
<meta charset="UTF-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->


<!-- Title and Meta-->
<title>{{page_title}}</title>
<meta name="author" content="">
<meta name="description" content="{{page_title}}">

<!-- Facebook Open Graph Meta-->
<meta property="og:title" content="{{page_title}}">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:description" content="{{page_desc}}">
<meta property="og:image" content="">

<!-- Twitter Meta -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{page_title}}"/>
<meta name="twitter:url" content="">
<meta name="twitter:site" content="@stephenscaff"/>
<meta name="twitter:creator" content="https://twitter.com/stephenscaff">
<meta name="twitter:domain" content="http://stephenscaff.com"/>
<meta name="twitter:image" content="image.jpg">

<!-- Mobile -->
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">


<!-- CSS  -->
<link rel='stylesheet' href='assets/css/app.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/fonts.min.css' type='text/css' media='all' />

<script type="text/javascript">
  var html = document.querySelector('html');
  html.className = html.className.replace('no-js','js');
</script>

</head>
